<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read all users</title>
</head>
<body>
    
    <div class="container">
        <div class="title">
          <h1>Read all users</h1>
        </div>
        <div>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                </tr>
                <!-- jinja code -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- end for -->
            </table>
        </div>
        <div>
            <a href="/create_user">Add a New user</a>
        </div>
        
    </div>

</body>
</html>