
*{
    max-width: 400px;
    margin: auto;
}

.fond{
    display: flex;
    flex-direction: column; 
    justify-content:flex-start;
    justify-content:space-around;
    background-color: darkslategray;
    padding: 20px;
    margin-top: 30px;
}

h1{
    color: gold;
    padding: 20px;
}

div{
    margin-top: 20px;
}

label{
    display:block;
}

button{
    background-color: gold;
    color: black;
    border-style: none;
}