<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>** * ** Checkboards ** * ** </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div>
        <h1>*** CHECKBOARDS ***</h1>
    </div>
    <div class="table">
        <table class="tab">
            {% for i in range(0,8): %}

            {% if i%2==0: %}
                <tr>
                    
                    {% for j in range(0,8): %}
                    
                        {% if j%2==0: %}
                        
                            <td style="background-color:red;"></td>
                        
                        {% else %}
                        
                            <td style="background-color:black"></td>
                        
                        {% endif %}
                    {% endfor %}
                </tr>

            {% else %}

            <tr>
                    
                {% for j in range(0,8): %}
                
                    {% if j%2==0: %}
                    
                        <td style="background-color:black"></td>
                    
                    {% else %}
                    
                        <td style="background-color:red"></td>
                    
                    {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    
</body>
</html>