*{
    margin: 0;
    padding: 0;
    
}

body{
    margin:0 auto;
    width: 700px;
}

/* navbar */
.navbar{
    background-color: black;
    color: white;
    height: 40px;
    align-items: center;
    padding-top: 20px;
}
.navbar h3{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
}


/* main likes */
.main{
    width: 545px;
    height: 100px;
    background: none;
    border: 3px solid black;
    margin-bottom: 20px;
}

.main1{
   
    width: 550px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.main1 button{
    width: 50px;
    color: black;
    background-color: rgb(206, 193, 8);
    font-size: large;
    box-shadow: 5px 5px 5px black;
}
.main2{
    
    width: 550px;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 10px;
}
/* couantainer */
.countainer{
    display: flex;
    /* flex-direction: column; */
}

/* countainer_left */

.countainer_left{
    width: 125px;
    height: 200px;
    border: 3PX solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.countainer_left div{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* countainer_right */

.countainer_right{
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px; 
}

/* countainer_right */

.countainer_left img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}