.row{
    display:flex;
    flex-wrap: wrap;
    margin: -10px;
    padding: 20px;
}
.col{
    flex:1;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: darkcyan;
}
.col-2{
    flex:2;
    padding: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: darkcyan;
}
.col-3{
    flex:3;
    padding: 20px;
    text-align: center;
    margin-left: 20px;
    
    background-color: darkcyan;
}