<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table class="table">
        <thead>
          <tr class="tr1">
            
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Full Name</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users  %}
          <tr>
            <td>{{user['first_name']}}</td>
            <td>{{user['last_name']}}</td>
            <td>{{user['first_name']}} {{user['last_name']}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</body>
</html>