
*{
    margin: auto;
    padding: auto;
}
/* create navbar */
.navbar{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 80px;
    background-color: gray;
    margin-bottom: 20px;
}


.search{
    width: 450px;
    height: 35px;
    float: left;
}
/* countainer */
.countainer{
    display: flex;
    flex-direction: row;
    /* background-color: gray; */
    width: 900px;
    height: 600px;
}
.countainer_left{
    display: flex;
    flex-direction: column;
    width: 600px;
    height:600px;
    /* background-color: aqua; */
}

.countainer_left_1{
    display: flex;
    flex-direction: row;
    width: 600px;
    height:250px;
    margin-bottom: 10px;
    
    /* background-color: bisque; */
    border: 4px solid black;
}

 .countainer_left_11{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:200px;  
} 

.countainer_left_12{
    display: flex;
    flex-direction: column;
    width: 300px;
    height:200px;  
} 

.countainer_right{
    width: 300px;
    height:600px;
    /* background-color: aqua; */
}

/* countainer right 1 */

.countainer_right_1{
    display: flex;
    flex-direction: column;
    width: 250px;
    height:150px;
    margin-top: 30px;
    margin-right: 0;
    /* background-color: bisque; */
    border: 4px solid black;
}
h1{
    padding-left: 10px;

}

 /*   List of the button */


 .btn_login{
    width: 150px;
    height: 35px;
    color:white;
    font-size: large;
    background-color: darkblue;
    box-shadow: 5px 5px 5px black;
}

.btn_add_define{
    width: 200px;
    height: 35px;
    color:black;
    font-size: larger;
    background-color:darkgreen;
    box-shadow: 5px 5px 5px black;  
}

 .btn_like{
    width: 100px;
    height: 35px;
    color:black;
    font-size: larger;
    background-color:yellow;
    box-shadow: 5px 5px 5px black;
}
