<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="fond">
        <div><h1>Dojo Survey</h1></div>
   
        <form action="/user" method="POST">
            <div>
                <label for="">
                    Name : 
                </label>
                <input type="text" name="name" value="name">
            </div>
            <div>
                <label for="location">
                    Dojo Location : 
                </label>
                <select name="countries" id="pet-select">
                    <option value="">--Please choose your countries--</option>
                    <option value="tunis">tunis</option>
                    <option value="Sfax">Sfax</option>
                    <option value="Medenine">Medenine</option>
                    <option value="Beja">Beja</option>
                    <option value="Bizerte">Bizerte</option>
                    <option value="Gafsa">Gafsa</option>
                  </select>
            </div>
            <div>
                <label for="favorite_langage">
                    Favorite Language : 
                </label>
                <select name="langage" id="pet-select">
                    <option value="">--Please choose your favorite Language--</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C Sharp">C Sharp</option>
                    <option value="Javascript">Javascript</option>
                    <option value="C++">C++</option>
                    <option value="Php">Php</option>
                  </select>
            </div>
            <div>
                <label for="comments">Comments</label>
                <textarea name="textarea" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div> 
</body>
</html>