

.table{  
    max-width: 700px;
    margin: auto;
    border: none;
    margin-top: 20px;
    border-collapse: collapse;
} 

th{
    background-color:black;
    color:darkgoldenrod;
}

.tr1{
    background-color:black;
    height: 40px;
}

td{
    text-align: center;
    width: 250px;
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: darkgoldenrod;
    opacity: 50%;
}

